[submodule "lib/timer"]
	path = lib/timer
	url = https://github.com/dniklaus/arduino-utils-timer.git
[submodule "lib/debug-cli"]
	path = lib/debug-cli
	url = https://github.com/ERNICommunity/debug-cli.git
[submodule "lib/debug-trace"]
	path = lib/debug-trace
	url = https://github.com/ERNICommunity/dbg-trace.git
[submodule "lib/ramutils"]
	path = lib/ramutils
	url = https://github.com/dniklaus/arduino-utils-mem.git
[submodule "lib/app-debug"]
	path = lib/app-debug
	url = https://github.com/dniklaus/wiring-app-debug.git
[submodule "lib/mqtt-client"]
	path = lib/mqtt-client
	url = https://github.com/ERNICommunity/mqtt-client.git
